<section class='container'>
  <section class='row'>
    <% if @patient.present? %>
      <div class='col-6 card-container'>
        <%= render 'patient-card' %>
      </div>
    <% else %>
      Not available
    <% end %>
  </section>
</section>

