<div class='card bg-dark text-white text-center'>
  <div class='card-body'>

  <% unless @eob.adjudication.empty? %>
    <div height="500">&nbsp;</div>
    <%= render 'header-level-info' %>
  <% end %>

  <% unless @eob.items.empty? %>
    <%= render 'item-level-info' %>
  <% end %>
    
  <% unless @eob.total.empty? %>
    <div height="500">&nbsp;</div>
    <%= render 'total' %>
  <% end %>
  </div>
</div>
