<div class='card bg-dark text-white mb-4'>
  <h2>Header Level Information</h2>
  <table class='table table-striped table-dark status'>
    <colgroup>
          <col style="width:25%">
          <col style="width:25%">
          <col style="width:25%">
          <col style="width:25%">
    </colgroup>
    <thead>
      <tr> 
        <th>Type</th>
        <th>Amount</th>
        <th>Value</th>  
        <th>Reason</th> 
      </tr> 
    </thead>
    </tbody>
      <% @eob.adjudication.each do |item| %> 
        <tr class='eobitem'>
          <td><%= sanitize(item[:type]) %></td>
          <td><%= sanitize(item[:amount]) %></td>
          <td><%= sanitize(item[:value]) %></td>
          <td><%= sanitize(item[:reason]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>