<div class="container text-dark">
  <%= render "partials/query" %>
  <header class="mb-5">
    <h1 class="">Claims</h1>
    <div></div>
  </header>
  <div class="d-flex flex-row flex-nowrap">
    <%= render "eob_filters" %>
    <%= render "eob_list" %>
  </div>
</div>
