<footer class='footer mt-auto py-3'>
  <div class='copyright'>
    <p>
    	Icons made by 
    	<a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> 
    	from 
    	<a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </p>
    <p>
      &copy; <%= Time.now.year %> 
      <%= link_to 'The MITRE Corporation', 'https://www.mitre.org' %>. All rights reserved.
    </p>
  </div>
</footer>
