<header>
  <nav class='navbar fixed-top navbar-expand-lg bg-dark navbar-dark'>
    <div class='navbar-brand'>
      <%= link_to root_path do %>
        <div class="header-title">Claims and Encounters</div>
      <% end %>
    </div>  
  </nav>
</header>
