<header>
  <nav class='navbar fixed-top navbar-expand-lg bg-dark navbar-dark justify-content-between'>
    <div class='navbar-brand'>
      <%= link_to root_path do %>
		<%= image_tag 'clipboard.svg', id: 'logo', alt: '' %>
        <div class="header-title">Claims and Encounters</div>
      <% end %>
    </div>

    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
     <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav mr-auto'>
        <li>
          <%= link_to 'Dashboard', dashboard_path, class: 'nav-link' if !@client.nil? %>
        </li>
        <li>
          <%= link_to 'EOBs', eobs_path, class: 'nav-link' if !@client.nil? %>
        </li>
      </ul>
    </div>
  </nav>
</header>
