<% if flash.count > 0 %>
	<section class='container messages'>
		<section class='row col-12'>
			<% flash.each do |key, value| %>
				<% if key.is_a?(String) %>
				  <div class="alert <%= flash_class(key) %> alert-dismissible fade show col-12">
				    <%= value.html_safe %>
						<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'>
						</button>
				  </div>
				<% end %>
			<% end %>
		</section>
	</section>
<% end %>
