<section class='container'>
  <section class='row'>
    <% unless @network.nil? %>
      <div class='col-12'>
        <h2>Explanation of Benefit: <%= @eob.startdate%>-<%=@eob.enddate%>  <%= @eob.claim_reference%>  <%= eob.careteam.values.join(",")%> %></h2>
      </div>
      <!–– <div class='col-6' id='map' ––>
      <!–– </div ––>
      <div class='col-12'>
        <table class='table table-dark'>
                <tr>
            <td>Contact:</td>
              </tr>
            <tr>
            <td>Phone/Fax:</td>
            <td>
                      </td>
          </tr>
           <tr>
            <td>Locations:</td>
            <td>
                       </td>
          </tr>
          <tr>
          <td>Part of:</td>
           </tr>
            <tr>
          <td>Type:</td>
         </tr>

        </table>
      </div>
    <% else %>
      Not available
    <% end %>

  </section>
</section>

