body {
	background-color: black;
	color: #eee;
	padding-bottom: 20px;
}

main > .container {
  padding: 30px 15px;
}

.navbar-brand {
	display: block;
}

.navbar-collapse {
	margin-left: 100px;
}

#logo {
	height: 50px;
	float: left;
	margin-right: 20px;
}

.navbar-brand a {
	width: 300px;
	color: #eee;
	font-size: 24pt;
	text-decoration: none;
}

footer {
	background-color: #222;
	height: 80px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 2;

	.copyright {
		color: #eee;
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 20px;

		a {
			color: #eee;
		}
	}
}

.welcome-form {
	margin: 0 auto;

	.form-control {
		width: 600px;
	}

}

.client-connected {
	text-align: center;
}

.welcome-text {
	text-align: center;
}

#compare-url {
	width: 100%;
}

.container {
	margin-bottom: 70px;
	margin-top: 90px;
}

table {
	margin-top: 20px;
	table-layout: auto;
}

.btn-group {
	float: right;
}

.messages {
	margin-bottom: -100px;
}

.card-container {
	padding: 10px;
}

.card {
	padding: 0px;
}

table.full_status {
	width: 60%;
}

table.status {
	margin-top: -10px;
	margin-bottom: -10px;
	font-size: 10pt;
}

table.compare {
	margin-top: 10px;
	font-size: 10pt;
}

div.patient-info {
	margin-bottom: 30px;
}

div.address {
	margin-left: 0px; 
	margin-right: 0px;
}

.connect {
	margin: 20px auto 20px auto; 
}

.form-control {
	margin-bottom: 10px;
}

.float-left {
	margin-top: 10px;
}

.query {
  border-color: #454d55; 
  background-color: #343a40; 
  padding: 10px;
  word-wrap: break-word !important;
  margin-bottom: 10px;
}

div.query {
  margin-left: 0px;
}

@media (min-width: 200px) and (max-width: 767px) {
	.welcome-form {
		display: block;
		margin: 0 auto;

		.form-control, .btn {
			width: 300px !important;
			margin-bottom: 10px;
		}

		.btn {
			margin-left: 15px;
		}

		.col-md-3 { // restores bootstrap class to original state
			padding-left: 15px;
		}
 
	}
}
